<h2>Registro de usuario</h2>

<form method="POST">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" value="{{obj.nombre}}" class="form-control" required="true">
      <label for="apellido">Apellido</label>
      <input type="text" name="apellido" id="apellido" value="{{obj.apellido}}" class="form-control" required="true">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="{{obj.email}}" class="form-control" required="true">
      <label for="calle">Calle</label>
      <input type="text" name="calle" id="calle" value="{{obj.calle}}" class="form-control" required="true">
      <label for="numero">Numero</label>
      <input type="number" name="numero" id="numero" value="{{obj.numero}}" class="form-control" required="true">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="/api/usuarios">Cancelar</a>
</form>